@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

.common-btn {
    border-radius: 8px;
background: rgb(255, 0, 0);
width: 167px;
height: 56px;
color:rgb(255, 255, 255) ;
}

/* First page */
.first-page{

    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.first-page h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-top: 16px;


}
.first-page .title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
font-size: 32px;
font-weight: 400;
margin-top: 177px;

}
/* First page  end*/

/* Second page(sp) Start */
.sp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sp .sp-heading  {
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-top:120px ;
margin-bottom: 48px;
}
.sp .sp-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
 .sp .sp-heading2{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 19px;
margin-bottom: 48px;
 }

.sp-img-container{
    width: 802.9px;
height: 500px;
    background-image: url("../images/New\ Year\ Photo.png");
    margin: 0px auto;
    margin-bottom: 120px;
}
/* Second page(sp) End */

/* third page(tp) Start */
.tp{
    display: flex;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../images/Vectorrr.png");
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px auto;
    margin-bottom: 120px;
}
.tp-text-container {
    width: 697px;
    margin-left: 126px;

}
    
.tp-text-container-header{
    font-family: Merriweather;
font-size: 64px;
font-weight: 900;
color:rgb(255, 255, 255) ;
margin-top: 126px;
margin-bottom: 24px;
}

.tp-text-container-description{
    color: rgba(255, 255, 255, 0.8);
font-size: 18px;
font-weight: 400;
margin-bottom: 48px;
}
.tp-img-container{
    width: 349.16px;
    height: 464.65px;
    margin-top: 68px;
    margin-right: 108px;
}
.tp-img-container img {
width: 100%;
height: 100%;
}
.tp-text-container-btn{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
background-color: rebeccapurple;
}
/* third page(tp) Start */



/* Fourth Page(fp) Start Here */
.fp{
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
width: 1320px;
height: 482px;
margin: 0px auto;
padding: 100px 386px 110px 385px;
margin-bottom: 120px;



}
.fp-container{
    width: 549px;
    height: 272px;
display: flex;
flex-direction: column;
align-items: center;
margin: 0px auto;
/* gap: 104px; */



}
.fp-container-text{
    font-size: 32px;
font-weight: 600;
color: rgb(7, 2, 17);
margin: 0px auto;
gap: 50px;
}
.fp-container-text span{
    font-size: 32px;
    font-weight: 600;
    color: rgb(255, 0, 0);
    
}

.fp-container button {
    /* margin-top: 110px; */
    /* margin-bottom: 0px; */
    position: relative;
    top: 40px;
}
.fp-container .margin {
    margin-top: 20px;
}
/* Fourth Page(fp) End Here */

/* Fift page(p4) start */
.p4{
    width: 1320px;
height: 463px;
margin: 0px auto;
display: flex;
justify-content: space-between;
margin: 0px 140px;
margin-bottom: 120px;

}
.p4-container1{
   display: flex;
   flex-direction: column;
   column-gap:15px ;
   width: 393px;
   height: 255px;
   margin: 104px 70px 104px 0px;
}
.p4-container2{
    width: 463px;
height: 463px;
margin-right: 118px;
padding: 49.02px;
background-image: url("../images/Ellipse\ 2.png");
}
.p4-container3{
    margin-top: 112px;
}
.p4-c1-title{
    font-size: 24px;
font-weight: 500;
color: rgb(255, 0, 0);
}
.p4-c1-heading{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin: 16px 0px 22px 0px;
}
.color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.p4-c3-heading{
    font-size: 48px;
font-weight: 700;
color: rgb(255, 0, 0);

}
.p4-c3-description{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
margin: 16px 0px 46px 0px;
}
.p4-c3-img-container{
    width: 140px;
height: 132.79px;
    
}
.p4-c3-img-container img {
    width: 100%;
    height: 100%;
}

/* {Page 6 Start here  */
.p6{
    width: 1320px;
height: 986.07px;
/* border-radius: 16px 0px 16px 16px; */
margin: 0px auto;
border: 2px solid black;
margin-bottom: 120px;

}
.p6-text-container{
    width: 1068px;
height: 260px;
margin: 0px auto;
text-align: center;

}
.p6-title{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.p6-heading{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0px 28px 0px;
}
.p6-descrition{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}
.p6-heading-color {
    color: rgb(255, 0, 0);
}
.p6-imgs-container{
display: flex;
position: absolute;
}
.p6-img-containers1{
    width: 674.82px;
    height: 577.96px;
    position: absolute;
  top: 60px;
  /* left: 60px; */
  z-index: 1;
  
}
{}
.p6-img-containers2{
    width: 305.69px;
height: 305.69px;
position: absolute;
left: 850px;
top: 50px;
}

.p6-solid-color{
    /* background-image: url("../images/Rectangle\ 2.png"); */
    width: 1320px;
height: 229px;
border: 2px solid black;
position: relative;
top: 500px;
background-color: red;
}
